.header--admin {
  opacity: 1;
  width: calc(100% - 4rem);
  padding: 0 2rem;
  padding-top: 2rem;
}
.nav--admin {
  width: 100%;
}
.ul--admin {
  flex-direction: row;
  padding: 0.5rem 0;
  width: 100%;
  justify-content: space-around;
  background-color: #1554ff;
}

.nuevo--producto {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.9rem;
  border: 2px #ffffff solid;
}
