.header--container {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 8rem);
  height: 5rem;
  padding: 0rem 4rem;
  padding-top: 1rem;
  background-color: #ffffff;
  box-shadow: 0 20px 10px lightpink inset;
}

.header--container--div {
  width: 100%;
  height: 100%;
}

/*-------------LOGO------------*/
.header--logo {
  width: 20%;
  height: 85%;
  justify-content: start;
}
.header--logo1 {
  background-image: url(../../img/memydeni.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 90%;
  height: 70%;
}

/*-----------------Buscador-------------*/
.header--buscador {
  width: 20%;
  height: calc(100% - 1rem);
  padding-top: 1rem;
}
.input--buscador {
  width: 100%;
  border: none;
  outline: none;
  height: 2rem;
  padding: 0 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px lightpink;
}

.header--login {
  width: 10%;
  height: calc(100% - 1rem);
  padding-top: 1rem;
}
