.header--container--nav {
  width: 75%;
  height: 100%;
}
.header--nav {
  width: 100%;
  height: calc(100% - 1rem);
  padding-top: 1rem;
}
.header--ul {
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
.header--li {
  padding: 0.5rem 1.5rem;
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 1rem;
  background-color: aqua;
}
.header--li:hover {
  transform: scale(1.1);
  transition: all 0.25s;
  text-shadow: 1px 1px 5px #000000;
}

.header--li__1 {
  background-color: rgb(234, 95, 60);
}
.header--li__2 {
  position: relative;
  z-index: 10;
  height: 4rem;
  max-height: 1.2rem;
  flex-direction: column;
  background-color: rgb(219, 168, 205);
}
.header--li__3 {
  background-color: rgb(208, 234, 221);
}
.header--li__4 {
  background-color: rgb(117, 204, 206);
}
.header--li__5 {
  background-color: rgb(249, 194, 210);
}
.li--secundario__div {
  display: none;
}
.ul--secundario {
  position: absolute;
  text-shadow: none;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(219, 168, 205, 0.75);
  padding: 1rem 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  max-width: 0;
  overflow: hidden;
}
.a--secundario {
  display: flex;
  border-radius: 0.25rem;
}

.header--li__2:hover {
  transition: all 0.3s;
  max-height: 1.9rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.header--li__2:hover ul {
  transition: all 0.5s ease-in-out;
  transform: translateY(3rem);
  visibility: visible;
  opacity: 1;
  max-height: 12.75rem;
  max-width: 100%;
}
.a--secundario:hover {
  text-shadow: 1px 1px 3px #000000;
}

@media (max-width: 1024px) {
  .header--li {
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 767px) {
  .header--container--nav {
    display: none;
    width: calc(100% - 1rem);
  }
  .header--ul {
    flex-direction: column;
    align-items: center;
    background-color: rgb(245, 245, 245, 0.8);
  }
  .header--li {
    border-radius: 0;
    padding: 1.5rem 0;
    width: 100%;
  }
  .ul--secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 2rem);
    padding-top: 2.5rem;
  }
}
