.footer--container {
  flex-direction: column;
  width: calc(100% - 8rem);
  height: calc(100vh - 6rem);
  padding: 0 4rem 0 4rem;
  max-height: 0px;
  transition: all 0.5s;
}
.contacto--footer {
  text-align: center;
  height: 3rem;
}
.contacto--container--div {
  width: 100%;
  height: calc(100% - 3rem);
}
.contacto--izq {
  flex-direction: column;
  align-items: flex-end;
  width: calc(50% - 2rem);
  padding-right: 2rem;
  height: 100%;
}
.contacto--pedidos {
  flex-direction: column;
  width: 75%;
  max-width: 600px;
  height: 25%;
}
.contactos--google {
  max-width: 37.5rem;
  max-height: 28.1rem;
  height: 75%;
  width: 100%;
}
.contactos--iframe {
  width: 100%;
  height: 100%;
}

.contacto--der {
  flex-direction: column;
  align-items: flex-start;
  width: calc(50% - 2rem);
  padding-left: 2rem;
  height: 100%;
}
.contacto--redes {
  flex-direction: column;
  justify-content: space-around;
  width: 65%;
  height: 25%;
}
.contacto--container--a {
  width: 100%;
  justify-content: space-around;
}
.contactos--a {
  display: flex;
  width: 7rem;
  height: 7rem;
  background-size: cover;
}
.contactos--a__insta {
  background-image: url(../../img/logo\ istagram.png);
}
.contactos--a__what {
  width: 5rem;
  height: 5rem;
  background-image: url(../../img/logowhat.png);
}
.contactos--a__mail {
  width: 6rem;
  height: 4.5rem;
  background-image: url(../../img/logomail.png);
}
.contacto--datos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  height: 54%;
}
.contacto--div--formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.contacto--formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.contacto--div--input {
  position: relative;
  width: 100%;
  height: 3.5rem;
  max-width: 400px;
  overflow: hidden;
}

.contacto--div--input input {
  width: 100%;
  height: 4rem;
  border: none;
  outline: none;
  background-color: transparent;
}
.contacto--textarea {
  background-color: transparent;
  outline: none;
  border: 1px solid #353535;
  border-radius: 5px;
  resize: none;
  padding: 0.5rem;
}
.contacto--button {
  color: #353535;
  font-weight: 500;
  background-color: #2a7ae4;
  border: 2.5px solid #2a7ae4;
  padding: 1rem;
}
.contacto--button__ok {
  background-color: lightgreen;
  border: 2.5px solid lightgreen;
}

/*---------------------------*/
.lbl--nombre {
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
  height: calc(100% - 1px);
  pointer-events: none;
  border-bottom: 1px solid black;
}
.text--nombre {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  transform: translateY(1.7rem);
}

.lbl--nombre::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  border-bottom: 5px solid #353535;
  transform: translatex(-100%);
  transition: all 0.3s ease;
}
.input--nombre:focus + .lbl--nombre::after {
  transform: translateX(0%);
}
.input--nombre:focus + .lbl--nombre .text--nombre,
.input--nombre:valid + .lbl--nombre .text--nombre {
  transform: translateY(0%);
  font-weight: 500;
}
/*-------------------------*/
.lbl--email {
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
  height: calc(100% - 1px);
  pointer-events: none;
  border-bottom: 1px solid black;
}
.text--email {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  transform: translateY(1.7rem);
}

.lbl--email::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  border-bottom: 5px solid #353535;
  transform: translatex(-100%);
  transition: all 0.3s ease;
}
.input--email:focus + .lbl--email::after {
  transform: translateX(0%);
}
.input--email:focus + .lbl--email .text--email,
.input--email:valid + .lbl--email .text--email {
  transform: translateY(0%);
  font-weight: 500;
}
/*-------------------------------*/
.lbl--asunto {
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
  height: calc(100% - 1px);
  pointer-events: none;
  border-bottom: 1px solid black;
}
.text--asunto {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  transform: translateY(1.7rem);
}

.lbl--asunto::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  border-bottom: 5px solid #353535;
  transform: translatex(-100%);
  transition: all 0.3s ease;
}
.input--asunto:focus + .lbl--asunto::after {
  transform: translateX(0%);
}
.input--asunto:focus + .lbl--asunto .text--asunto,
.input--asunto:valid + .lbl--asunto .text--asunto {
  transform: translateY(0%);
  font-weight: 500;
}

@media (max-width: 1440px) {
  .contacto--pedidos {
    width: 80%;
  }
  .contacto--redes {
    width: 80%;
  }
  .contacto--datos {
    width: 80%;
  }
  .contacto--formulario {
    align-items: center;
  }
  .contacto--textarea {
    width: 75%;
  }
  .contacto--button {
    width: 80%;
  }
}

@media (max-width: 1024px) {
  .contacto--izq {
    justify-content: space-around;
  }
  .contacto--pedidos {
    width: 100%;
    margin-top: 5rem;
  }
  .contactos--google {
    margin-bottom: 5rem;
  }
  .contacto--redes {
    width: 100%;
  }
  .contacto--datos {
    width: 100%;
  }
  .contacto--formulario {
    align-items: center;
  }
  .contacto--textarea {
    width: 95%;
  }
  .contacto--button {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .contacto--container--div {
    flex-direction: column;
  }
  .contacto--datos {
    display: none;
  }
  .contacto--izq {
    width: 100%;
    padding-right: 0;
  }
  .contacto--pedidos {
    margin-top: 0;
    margin-bottom: 1rem;
    height: 15rem;
  }
  .contactos--google {
    margin-bottom: 0;
  }
  .contacto--der {
    width: 100%;
    padding-left: 0;
    height: 25rem;
  }
  .contacto--redes {
    height: 100%;
    justify-content: center;
  }
}
