.visible {
  transition: all 0.5s;
  max-height: 100%;
}

.mostrar {
  display: flex;
}

.ocultar {
  transition: all 0.5s;
  max-height: 0;
}

.ocultar2 {
  display: none;
}

.oculta__w {
  transition: all 0.5s;
  max-width: 0;
}

.mostar__menu__w {
  transition: all 0.25s;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  justify-content: flex-start;
}

.mostar__menu__h {
  position: absolute;
  top: 0.25rem;
  left: 0;
  transition: all 0.5s;
  max-height: 24rem;
  height: 24rem;
}

.mostrar__nav {
  display: flex;
  flex-direction: column;
}
.mostrar__nav2 {
  flex-direction: row;
}

.buscador__top {
  padding-top: 0.75rem;
  padding-right: 4rem;
}
