.menu--container {
  width: 100%;
  height: 3.5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  /* border: 1px solid red; */
  overflow: hidden;
}
.menu--ul {
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: start;
  padding-top: 1rem;
  width: 100%;
  height: 2.5rem;
  background-color: lightpink;
}
.menu--li {
  text-align: center;
  width: calc(100% - 1rem);
  padding: 0.5rem 0.5rem;
  border: 1.5px solid salmon;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.menu--li__buscar {
  padding: 0.25rem;
  border: none;
}
.li__selecionado {
  border-bottom: none;
  background-color: antiquewhite;
  height: 1.25rem;
}
.menu--buscar {
  border: none;
  outline: none;
  border-radius: 0.25rem;
  padding: 0.25rem;
}
