.menu--container {
  width: 10%;
  height: 100%;
}
.menu--ul {
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
  padding: 3rem 0;
  width: 100%;
  height: calc(100% - 6rem);
}
.menu--li {
  text-align: end;
  width: calc(100% - 1rem);
  padding: 1rem 0.5rem;
  background-color: lightpink;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
