.card--container {
  width: 100%;
  height: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: scroll;
  overflow-x: hidden;
}

.card--item {
  flex-direction: column;
  justify-content: space-between;
  width: 19rem;
  height: 23rem;
  padding: 1rem;
}

.card--img--div {
  align-items: flex-end;
  width: 100%;
  height: calc(100% - 3rem);
  text-align: center;
}
.card--img {
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
}
.card--titulo {
  color: #000000;
  line-height: 1.5rem;
}
.card--categoria--div {
  justify-content: space-around;
  width: 100%;
}

.card--emergente {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255, 0.5);
  width: 100%;
  height: 100vh;
}
.emergente--container {
  position: relative;
  justify-content: space-between;
  background-color: rgb(255, 255, 255, 0.9);
  border-radius: 1rem;
  width: 60rem;
  height: 30rem;
  max-width: 60rem;
  max-height: 30rem;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.75);
}
.emergente--img {
  max-width: 0;
  max-height: 0;
  opacity: 1;
  border-radius: 1rem;
  width: 30rem;
  height: 30rem;
}
.emergente--div {
  overflow: hidden;
  max-width: 0;
  max-height: 0;
  height: calc(30rem - 3rem);
  width: calc(30rem - 3rem);
  flex-direction: column;
  justify-content: space-around;
  padding: 1.5rem;
}
.emergente--div--interno {
  flex-direction: column;
  justify-content: space-between;
  height: 5rem;
}

.emergente--titulo {
  color: #000000;
}

.emergente--salir {
  position: absolute;
  left: calc(50% - 2rem);
  bottom: -4rem;
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  border: none;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.75);
}
.salir--interior {
  width: 3rem;
  height: 3rem;
}
