.quienes--container {
  position: relative;
  z-index: -1;
  width: calc(100% - 8rem);
  height: calc(100vh - 6rem);
  padding: 0rem 4rem;
  max-height: 0px;
  transition: all 0.5s;
}
.quienes--container--div {
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: url(../../img/fondo.jpg);
  background-repeat: repeat;
}

.quienes--hola {
  width: 40%;
  height: 30%;
  background-image: url(../../img/Hola.png);
  background-position: center center;
  background-size: cover;
}
.quientes--texto {
  flex-direction: column;
  height: 70%;
  width: 50%;
}
.quienes--p {
  padding: 1rem;
}

@media (max-width: 1024px) {
  .quienes--hola {
    width: 80%;
  }
  .quientes--texto {
    width: 75%;
  }
}
