.slider--container {
  visibility: visible;
  width: calc(100% - 8rem);
  height: calc(100vh - 6rem);
  padding: 0rem 4rem;
  max-width: 100%;
  max-height: 100%;
  transition: all 0.5s;
}
.slider--container--div {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 1rem;
  box-sizing: border-box;
}
.slider--ul {
  width: 300%;
  height: 100%;
}
.slider--ul__animacion {
  animation: slider 10s infinite both alternate linear;
}
.slider--li {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.slider__li1 {
  background-image: url(../../img/slider.jpg);
}
.slider__li2 {
  background-image: url(../../img/slider1.jpg);
}
.slider__li3 {
  background-image: url(../../img/slider2.jpeg);
}

.slider--selector {
  position: absolute;
  justify-content: space-between;
  bottom: 1rem;
  width: 8rem;
  height: 2rem;
  left: calc(50% - 4rem);
}
.slider--a {
  border-radius: 1.25rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: rgb(117, 204, 206, 0.8);
}

@keyframes slider {
  0% {
    margin-left: 0;
  }
  25% {
    margin-left: 0;
  }
  33% {
    margin-left: -100%;
  }
  58% {
    margin-left: -100%;
  }
  66% {
    margin-left: -200%;
  }
  100% {
    margin-left: -200%;
  }
}
